@CHARSET "windows-1255";


.divBuddiesAndGroups{
	position:absolute;
	top:0; left:0;
	width: 280px !important;
}

.divChatRoom{
	width: calc(100% - 295px) !important;
	position:absolute;
    bottom: 50px;
    right: 0;
    overflow-y:auto !important;
/*
    border-width:3px !important;
    border-style:solid !important;
    border-color: rgb(000,150,255) !important;   */
}

.chatRoom{
	position:absolute;
    bottom: 65px;
	width: calc(100% - 300px) !important;
}

.messageErea{
	position:absolute;
    bottom: 0px;
	width: calc(100% - 5px) !important;
}

.chatRoom{
	width: 97% !important;
}

.message{
	height: 35px;
}

.messages-time {
	float: right;
	font-size: small;
	color: gray;
	position: absolute;
	bottom: 18px;right: 10px;
}


.sendMessage {
	width: 27px;
	margin-top: 14px;
	padding: 0px;
	float:right;
}

.textArea {
	float:left;
	resize: none;
	width: calc(100% - 35px) !important;
	height: 38px !important;
}


.divBuddiesAndGroups, .divChatRoom  {
    overflow-y:auto !important;
}

.divBuddiesAndGroups{
    border-width:3px !important;
    border-style:solid !important;
    border-color: rgb(000,150,255) !important;   
}

.buddiesAndGroupsList{
    margin: 0px !important;
}

.buddy, .group {
	height: 66px;
}

.row-image {
	width:  40px;   
	height: 54px;
	margin:auto;
	padding-top: 5px;
	padding-left:12px;
}

.row-label { 
	padding-left:64px;
	padding-bottom:28px;
	position:absolute;
	bottom:0; left:0;
}

#Dashboard{
    position:static !important;
}

.logoutBtn, .editProfileBtn, .addBuddyBtn, .createGroupBtn, .leaveGroupBtn {
	background-size:22px 22px;
}

.logoutBtn, .editProfileBtn{
    float:left;
}

.searchBuddyBtn, .createGroupBtn, .searchGroupBtn, .leaveGroupBtn {
	float:right;
}

.dashboardFooterDiv {
	padding: 0px;
}

#dashboardFooter {
	padding: 0px;
	position:absolute;
	bottom:0; left:0;
	width:  100%;   
}