@CHARSET "windows-1255";


.divBuddiesAndGroups{
	position:absolute;
	top:0; left:0;
	width: 280px !important;
}

.divChatRoom{
	float:right;
	width: calc(100% - 280px) !important;
}

.divBuddiesAndGroups, .divChatRoom  {
    overflow-y:auto !important;
}

.buddiesAndGroupsList{
	width: 100% !important;
    margin: 0px !important;
    -webkit-padding-start: 0px !important;;
}
.chatRoom{
	width: 98% !important;
}

.buddy, .group {
	height: 66px;
}

.row-image {
	width:  40px;   
	height: 54px;
	margin:auto;
	padding-top: 5px;
	padding-left:12px;
}

.row-label { 
	padding-left:64px;
	padding-bottom:28px;
	position:absolute;
	bottom:0; left:0;
}

#Dashboard{
    position:static !important;
}

.logoutBtn, .editProfileBtn, .addBuddyBtn, .createGroupBtn, .leaveGroupBtn {
	background-size:22px 22px;
}

.logoutBtn, .editProfileBtn{
    float:left;
}

.searchBuddyBtn, .createGroupBtn, .searchGroupBtn, .leaveGroupBtn {
	float:right;
}

.dashboardFooterDiv {
	padding: 0px;
}

#dashboardFooter {
	padding: 0px;
	position:absolute;
	bottom:0; left:0;
	width:  100%;   
}


/*


.buddiesAndGroupsList {
    margin: 0 !important;
    padding: 0 !important;
    overflow-y:auto;
}


.buddiesAndGroups {
    height: 50% !important;
}

.dashboardContent{
    height:calc(100% - 72px) !important;
}

.buddy{
	width: 100% !important;
}



.dashboardContentUL {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-padding-start: 0px;
}

.dashboardContent {
	padding: 0px;
	position:absolute;
	top:0; left:0;
	width: 100%;   
}


.divider-label {
	height: 54px;
}



.divChatRoom {
    position:absolute;
	bottom:0; left:0;
	height: 50%;
}*/