@CHARSET "windows-1255";

  




[data-role="page"] {
    height:100% !important;
}

[data-role="header"] {
   	height: 35px !important;
}
.room-header {
	height: 40px !important;
}


[data-role="content"] {
    height:calc(100% - 72px) !important;
}
.chatRoom, .buddiesContent, .groupsContent, .searchBuddyContent  {
    height:calc(100% - 130px) !important;
}


.messages {
    position:absolute;
    bottom:73px;
    width: 100%;
}


[href="#Buddies"] .ui-icon {
	background: url(../image/Buddy.png) 50% 50% no-repeat;
	background-size:22px 22px;
}

[href="#Groups"] .ui-icon {
	background: url(../image/Group.png) 50% 50% no-repeat;
	background-size:22px 22px;
}





.room-image, .login-image, .register-image, .edit-profile-image {
	float:right;
	margin-top: 4px;
	width:  24px;   
	height: 32px;
	padding-right:9px;
}

.login-image, .register-image, .edit-profile-image{
	width:  32px;
}

.room-label, .login-label, .register-label, .edit-profile-label  {
	padding-right:45px;
	padding-bottom:7px;
	position:absolute;
	bottom:0; right:0;
}

.btnRegisterSubmit , .loginOrRegistrer{
	float: right;
}


.colorRed {
	color: red;
}


.requiredText {
   	float: left;
	color: red;
}

.registerUserPicInput, .editProfileUserPicInput {
	padding-left: 6px !important;
}



.ui-btn-active .ui-btn-inner {
    color: rgb(240,000,000);
 }

.row-image {
	width:  40px;   
	height: 54px;
	margin:auto;
	padding-top: 5px;
	padding-left:12px;
}

.row-label { 
	padding-left:64px;
	padding-bottom:28px;
	position:absolute;
	bottom:0; left:0;
}

.messages-time {
	float: right;
	font-size: small;
	color: gray;
	position: absolute;
	bottom: 6px;right: 10px;
}


.sendMessage {
	width: 27px;
	margin-top: 14px;
	padding: 0px;
	float:right;
}

.textArea {
	float:left;
	resize: none;
	width: calc(100% - 35px) !important;
	height: 38px !important;
}

.buddy, .group, .searchResultBuddyOrGroup {
	height: 66px;
}


.logoutBtn, .editProfileBtn, .addBuddyBtn, .addGroupBtn {
	background-size:22px 22px;
}

.logoutBtn, .editProfileBtn{
    float:left;
}

.searchBuddyBtn, .addGroupBtn, .searchGroupBtn {
	float:right;
}

.searchResultBuddyOrGroupLabel {
    padding-left:64px;
	padding-bottom:28px;
	position:absolute;
	bottom:0; left:0;
}
.searchResultBuddyOrGroupImg {
	width:  40px;   
	height: 54px;
	margin:auto;
	padding-top: 5px;
	padding-left:12px;
}
/*
[data-role="content"]  {
    overflow-x: initial;
    border-width:1px !important;
    border-style:solid !important;
    border-color:red !important;
}*/
/*
[data-role="page"] {
	
}
*/