<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>chatty</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>chattyDB</description>
    <res-ref-name>chattyDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <listener>
    <listener-class>edu.mta.chatty.AppWatcher</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginService</display-name>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>edu.mta.chatty.service.LoginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginService</servlet-name>
    <url-pattern>/services/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GenericDataService</display-name>
    <servlet-name>GenericDataService</servlet-name>
    <servlet-class>edu.mta.chatty.service.GenericDataService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericDataService</servlet-name>
    <url-pattern>/services/generic-data</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>UserDataService</display-name>
    <servlet-name>UserDataService</servlet-name>
    <servlet-class>edu.mta.chatty.service.UserDataService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDataService</servlet-name>
    <url-pattern>/services/user-data</url-pattern>
  </servlet-mapping>

  
</web-app>