<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>chatty</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>chattyDB</description>
    <res-ref-name>chattyDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <listener>
    <listener-class>edu.mta.chatty.AppWatcher</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginService</display-name>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>edu.mta.chatty.service.LoginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginService</servlet-name>
    <url-pattern>/services/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GenericDataService</display-name>
    <servlet-name>GenericDataService</servlet-name>
    <servlet-class>edu.mta.chatty.service.GenericDataService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericDataService</servlet-name>
    <url-pattern>/services/generic-data</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>UserDataService</display-name>
    <servlet-name>UserDataService</servlet-name>
    <servlet-class>edu.mta.chatty.service.UserDataService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDataService</servlet-name>
    <url-pattern>/services/user-data</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>CompleteDataService</display-name>
    <servlet-name>CompleteDataService</servlet-name>
    <servlet-class>edu.mta.chatty.service.CompleteDataService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteDataService</servlet-name>
    <url-pattern>/services/complete-data</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>FindUsersService</display-name>
    <servlet-name>FindUsersService</servlet-name>
    <servlet-class>edu.mta.chatty.service.FindUsersService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUsersService</servlet-name>
    <url-pattern>/services/find-users</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>AddBuddyService</display-name>
    <servlet-name>AddBuddyService</servlet-name>
    <servlet-class>edu.mta.chatty.service.AddBuddyService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBuddyService</servlet-name>
    <url-pattern>/services/add-buddy</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>RegisterUserService</display-name>
    <servlet-name>RegisterUserService</servlet-name>
    <servlet-class>edu.mta.chatty.service.RegisterUserService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserService</servlet-name>
    <url-pattern>/services/register-user</url-pattern>
  </servlet-mapping>


  <servlet>
    <description></description>
    <display-name>FindGroupsService</display-name>
    <servlet-name>FindGroupsService</servlet-name>
    <servlet-class>edu.mta.chatty.service.FindGroupsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindGroupsService</servlet-name>
    <url-pattern>/services/find-groups</url-pattern>
  </servlet-mapping>


  <servlet>
    <description></description>
    <display-name>JoinGroupService</display-name>
    <servlet-name>JoinGroupService</servlet-name>
    <servlet-class>edu.mta.chatty.service.JoinGroupService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinGroupService</servlet-name>
    <url-pattern>/services/join-group</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>LeaveGroupService</display-name>
    <servlet-name>LeaveGroupService</servlet-name>
    <servlet-class>edu.mta.chatty.service.LeaveGroupService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveGroupService</servlet-name>
    <url-pattern>/services/leave-group</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>SendGroupMessageService</display-name>
    <servlet-name>SendGroupMessageService</servlet-name>
    <servlet-class>edu.mta.chatty.service.SendGroupMessageService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendGroupMessageService</servlet-name>
    <url-pattern>/services/group-message</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>SendBuddyMessageService</display-name>
    <servlet-name>SendBuddyMessageService</servlet-name>
    <servlet-class>edu.mta.chatty.service.SendBuddyMessageService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendBuddyMessageService</servlet-name>
    <url-pattern>/services/buddy-message</url-pattern>
  </servlet-mapping>
    
</web-app>