@CHARSET "windows-1255";
#toolbar h1{
	background-color: silver;
	text-align: center;
	padding: 0;
	margin: 0;
}
#toolbar{
	top:0;
	left:0;
	position:relative;
	width: 100%;
	margin-top: 0;
	
}
body {
	margin: 0;
	padding: 0;
	border:0;
	background-image: url("img/background.jpg");
}

ul{
	list-style: none;	
}

ul li a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 2px;
	border: 1px solid black;
	background-image: url("img/arrow.png");
	background-repeat: no-repeat;
	background-position: right;
	padding: 1em;
	font-weight: bold;
}

ul li:FIRST-CHILD a{
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
}
ul li:LAST-CHILD a{
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
}

#shape{
	width: 0px;
	height: 0px;
	border-left:50px solid transparent;
	border-right:50px solid transparent;
	border-bottom:100px solid gray;
background-color: green;
	margin: 25%;
}
